/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

img {
  max-width: 100vw;
}

html {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow-x: hidden;
}

.noMobile {
  display: none;
}

nav {
  margin: 0px;
  padding: 0px;
  background-color: #540b51;
  padding: 25px 40px 25px 40px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
}

.subnavmenus button {
  margin: 0px;
  padding: 0px;
  border: 0;
  background-color: transparent;
  margin-left: 15px;
}

.slacklogo {
  margin: 0px;
  padding: 0px;
  width: 120px;
}

header {
  margin: 0px;
  padding: 0px;
  background-color: #540b51;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 2.6rem;
}

header h1,
p {
  margin: 15px 25px 10px 25px;
}

.enfasis {
  color: #ecb12f;
  font-weight: 1000;
}

.headerButtons {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  align-content: center;
}

.googleLogo {
  width: 30px;

  background-color: white;
  /* top: 278px; */
  border-radius: 5px;
  border: 0;
}

.signButton {
  height: 50px;
  /* width: 705px; */
  color: #540b51;
  margin: 5px 10px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
}
.googleButton {
  height: 50px;
  /* width: -; */
  text-align: center;
  color: white;
  background-color: #4285f4;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.googleLogohidden {
  visibility: hidden;
}
main {
  background-color: #f3eae2;
}

.headerpicbox {
  /* object-fit: none; */

  overflow: hidden;
}
.headerpic {
  scale: 130%;
  object-position: 40px 50px;
  justify-content: left;
}

/*                upppgood  */
.starttext {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 1000;
  padding-top: 50px;
}

.companies img {
  height: 50px;
}

html {
  background-color: #f3eae2;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 50px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  /*  margin: 20px 0;*/
  padding-bottom: 70px;
}

.content p,
h2 {
  margin: 30px 10%;
}

.contentLink {
  white-space: nowrap;
  margin: 30px 10%;
}

/* .mainimages {
  margin-top: 80px;
} */

.mainimages {
  overflow: hidden;
}

.fotoright {
  margin-left: 50px;
}

.fotoleft {
  margin-right: 50px;
}

.movefaster h3 {
  font-size: 2.8rem;
}

.movefaster span {
  font-weight: 1000;
  color: #540b51;
  font-size: 2.8rem;
}

.movefaster {
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  background-color: white;
  padding: 0px 0px 60px 0px;
  margin: 0px 0px 0px 0px;
}

.movefaster p {
  font-weight: 1000;
  font-size: 1.2rem;
}

.movefaster ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.talk {
  height: 50px;
  color: #540b51;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2;
  border-color: #540b51;
  text-transform: uppercase;
  background-color: white;
  width: 97vw;
}

.meet {
  height: 50px;
  color: white;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2;
  border-color: #540b51;
  text-transform: uppercase;
  background-color: #540b51;
  width: 97vw;
}

.teambuttons {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.welcome {
  background-color: #540b51;
  color: white;
  font-size: 2.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  width: 100vw;
}

.tryforfree {
  height: 50px;
  color: white;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2;
  border-color: white;
  text-transform: uppercase;
  background-color: #540b51;
  width: 97vw;
}

.talktosales {
  height: 50px;
  color: #540b51;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2;
  border-color: #540b51;
  text-transform: uppercase;
  background-color: white;
  margin-bottom: 50px;
  width: 97vw;
}

footer {
  background-color: white;

  width: 100vw;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  overflow: hidden;
}

.movefaster ul {
  margin: 20px 210px;
}
.slacklogo2 {
  width: 100px;
  /* padding-left: 10px; */
  padding: 50px 0 25px 7%;
}
footer ul {
  list-style: none;
}
.footerindex {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 30px;
}

footer li {
  padding: 10px;
}

footer ul :first-child {
  font-weight: 1000;
}

.middlefooter {
  font-size: 1.4rem;
  font-weight: 1000;
}

footer hr {
  width: 85%;
}

.social {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
}

.copywrite {
  padding: 40px;
  font-size: 1.6rem;
}

.content a {
  text-decoration: none;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    /* align-content: flex-start; */
  }

  header h1 {
    font-size: 4.5rem;
    text-align: left;
  }

  header p {
    margin: 20px 160px 20px 10px;
    text-align: left;
  }

  .great {
    width: 100%;
  }

  .headerpic {
    overflow: visible;
    scale: 70%;
  }

  .headerpicbox {
    /* width: 800px; */
    margin-bottom: 10%;

    overflow: hidden;
  }

  .teambuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .meet {
    width: 40vw;
  }

  .talk {
    width: 20vw;
  }

  .data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .tryforfree,
  .talktosales {
    margin-left: 16vw;

    width: 70vw;
  }

  .middlefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-right: 5%;
  }

  .social {
    width: 40vw;
  }

  .footerindex {
    margin-left: -4vw;
  }
  .slacklogo2 {
    margin-left: -4vw;
  }
}

@media (min-width: 1024px) {
  .noMobile {
    gap: 15px;

    /* justify-content: center;
flex-direction: row; */
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: center;
    justify-content: space-between;
  }

  .subnavmenus {
    display: flex;
    flex-direction: row;
  }

  .biggerthanphone {
    display: none;
  }
  .navbig {
    /* margin: 0px;
  padding: 0px; */

    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
  }

  nav {
    align-content: center;
    justify-content: space-evenly;
  }

  .noMobile li {
    list-style: none;
  }
  .nodeco {
    text-decoration: none;

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .makeButton {
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;

    color: #540b51;
    font-weight: bold;
    font-size: 1.2rem;

    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
  }

  .headerButtons {
    margin-top: 200px;
  }

  .great {
    /* margin-left: 50px; */
    margin-top: 50px;
  }

  .content {
    /* scale: 80%; */
    flex-direction: row;

    justify-content: space-between;
  }

  /* .bigscreensize{
scale: 80%;




}*/

  .mainimages {
    height: 50vw;
  }

  .toRevese {
    flex-direction: row-reverse;
  }

  .meet {
    width: 25vw;
  }

  .talk {
    width: 15vw;
  }

  .data {
    width: 80vw;
    justify-content: space-between;
    right: -1000px;
  }

.movefaster {
  align-content: center;
  align-items: center;
}

.welcomebuttons {
  display: flex;
  justify-content: center;
}

.tryforfree,
.talktosales {
  margin: 0px 5px 40px 5px;
  width: 20vw;
}

.slacklogo2 {
  margin-left: -2.5vw;
}



}